<ion-view title="Registro" class="register">
    <ion-content padding="false">

        <div class="list list-inset">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Nombre</span>
                <input type="text" placeholder="Nombre(s) Apellido(s)" ng-model="registerData.fullname">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Usuario</span>
                <input type="tel" placeholder="099099909"  ng-model="registerData.username">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Clave</span>
                <input type="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;"  ng-model="registerData.password">
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Confirmar Clave</span>
                <input type="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;"  ng-model="registerData.repassword">
            </label>

            <!--<label class="item item-input item-stacked-label">
                <span class="input-label">Địa chỉ</span>
                <input type="text" type="text" placeholder="Từ liêm , Hà Nội"  ng-model="registerData.location">
            </label>-->

            <!--<label class="item item-input item-stacked-label">
                <span class="input-label">Ngày sinh</span>
                <input type="date" placeholder="20/10/1990"  ng-model="registerData.birthday">
            </label>-->


        </div>
        <div style="padding: 0 10px;">
            <button class="button button-block button-positive" ng-click="updateUserInfo(registerData)" ng-disabled="registerProcess">Registrar</button>
        </div>

    </ion-content>
</ion-view>